{% extends "base.html" %}
{% load humanize %}

{% block content %}
  <h2>{{ item.title }}</h2>
  <p><small>From: {{ item.feed.title|default:item.feed.url }} | Published: {{ item.published|naturaltime }}</small></p>

  <div>
    {{ item.summary|safe }}
  </div>

  <p><a href="{{ item.link }}" target="_blank" rel="noopener noreferrer">Read full article on original site</a></p>

  <p><a href="{% url 'article_list' %}">Back to Articles</a></p>
  <form method="post" action="{% url 'toggle_read' item.pk %}">
    {% csrf_token %}
    {% if item.read %}
      <button type="submit" class="btn btn-sm btn-outline-secondary">Mark as Unread</button>
    {% else %}
      <button type="submit" class="btn btn-sm btn-outline-primary">Mark as Read</button>
    {% endif %}
  </form>
  
{% endblock %}
